/* Styles go here */

@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:50px;
  font-weight:bold;
}

.container {
  height:30%;
}

@media(max-width: 720px) {
  h1 {
    font-size: 35px;
  }
  .password {
    font-size: 120%%;
  }
  .git-fork {
    visibility: hidden;
  }
}

@media(max-width: 775px) {
  .git-fork {
    visibility: hidden;
  }
}